body {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: 1.1rem;
}

.space-child > * {
  margin-right: 12px;
}

.full-page {
  min-height: $full-page-height;
}

.center-hv {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding-top: $header-height;
}

.container {
  padding: 40px;
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #ddd;
  //color: #eeeeee;
  padding: 20px;
}

main {
  min-height: $full-page-height;
}

.drawer-handel{
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 1000;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
