body {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: 1.1rem;
}

.space-child > * {
  margin-right: 12px;
}

.full-page {
  min-height: $full-page-height;
}

.center-hv {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding-top: $header-height;
}

.container {
  padding: 40px;
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}
