@font-face {
  font-family: 'Avenir';
  src: local('Avenir Medium'), local('Avenir-Medium'),
    url('../assets/fonts/Avenir-Medium.woff2') format('woff2'),
    url('../assets/fonts/Avenir-Medium.woff') format('woff'),
    url('../assets/fonts/Avenir-Medium.ttf') format('truetype'),
    url('../assets/fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: local('Avenir Heavy'), local('Avenir-Heavy'),
    url('../assets/fonts/Avenir-Heavy.woff2') format('woff2'),
    url('../assets/fonts/Avenir-Heavy.woff') format('woff'),
    url('../assets/fonts/Avenir-Heavy.ttf') format('truetype'),
    url('../assets/fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body,
html {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: 1.1rem;
  overflow-x: hidden;
}

.space-child > * {
  margin-right: 12px;
}

.full-page {
  min-height: $full-page-height;
}

.center-hv {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding-top: $header-height;
  overflow-x: hidden;
}

.container {
  padding: 20px;
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #ddd;
  //color: #eeeeee;
  padding: 20px;
}

main {
  min-height: $full-page-height;
}

.drawer-handel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 10px;
  height: 64px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: #999999 solid 1px;
}

.ant-menu-item-selected {
  background-color: #eeeeee !important;
}

.footer-hide {
  display: none;
}

main .portal {
  background-color: #f0f1f2;
  padding-bottom: 64px;
}

.ant-menu.full-page {
  border-right: 0 solid #000c17;
  z-index: -10;
}

::-webkit-scrollbar {
  display: none;
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

*:not(input, textarea, .CodeMirror) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  pointer-events: none;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}

.center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.black-text {
  color: #000;
}

.white-text {
  color: #fff;
}

.no-border {
  border: 0;
}

.grey.lighten-3 {
  background-color: #eee;
}

.grey-text.lighten-3 {
  color: #eee;
}

.over-flow {
  overflow: scroll;
}

.position-relative {
  position: relative;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.input-prefix {
  color: rgba(0, 0, 0, 0.25);
}

.StackOverflowIcon {
  fill: #595959;
  height: 30px;
  width: 30px;
  margin-left: 15px;
}

.margin-left-15 {
  margin-left: 15px;
}

.linkType-1 {
  color: #cccccc;
}

.inline-block {
  display: inline-block;
}

.google-map {
  width: 100%;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
}

.font09rem {
  font-size: 0.9rem;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.about-us-col {
  font-size: 1.3rem;
  text-align: justify;
}

.jmi-logo1 {
  max-height: 200px;
}

.height-300 {
  height: 300px;
}

.max-height-50 {
  max-height: 50px;
}

.signinScreen-card {
  max-width: 95vw;
  width: 450px;
}

.auth-container-type-1 {
  max-width: 95vw;
  width: 450px;
}

.max-width-600 {
  max-width: 600px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.width-30pr {
  width: 30%;
}

.width-60pr {
  width: 60%;
}

.width-10pr {
  width: 10%;
}

.width-150 {
  width: 150px;
}

.portal-side-nav {
  position: fixed;
  top: 0;
  height: 100vh;
  transition: left 0.2s;
  z-index: 1;
}

.portal-side-nav .logo-container {
  height: 64px;
  background-color: #ffffff;
  width: 80px;
}

.top-recruiter-col {
  border-bottom: 1px solid #eeeeee;
}

.profile-extra-details {
  display: flex;
  align-items: center;
  position: relative;
  left: -15ps;
}

.profile-extra-details a {
  font-size: 30px;
}
.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
}
.gutter-box {
  background: #00a0e9;
  padding: 5px 0;
}
