@import 'variables';

header {
  box-shadow: 0 2px 8px #f0f1f2;
  height: $header-height;
  width: 100vw;

  padding-left: 40px;
  padding-right: 40px;

  display: flex;
  align-items: center;

  z-index: 10;
  position: fixed;
  top: 0;
  transition: top 0.3s;

  background-color: #ffffff;
}

header .logo-container {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.logo-container > img {
  height: 40px;
  width: 40px;
}

header .header-pill {
  float: right;
  height: $header-height;
  padding: 13px 12px 12px;
}

header.nav-up {
  top: -#{$header-height + 6};
}
