.badge-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  max-width: 100vw;
}

.ranking-container{
}

.ranking-container .ant-carousel .slick-slide {
  line-height: 160px;
  background: transparent;
  z-index: -3;
}
.row-container {
  background-color: transparent;
  display: flex !important;;
  flex-direction: column !important;
  justify-content: end;
}
.ant-carousel .slick-slide h3 {
  color: transparent;
}
.top-recruiter{

}

.top-recruiter .ant-carousel .slick-slide {
  text-align: center;
  height:auto;
  line-height: 160px;
  background: transparent;
  overflow: hidden;
}

.image-top-recruiter{
  max-height: 50px;
  object-fit: cover;
}
